body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.container {
    padding-top: 20px;
}

.jumbotron {
    background-color: rgb(95, 94, 94);
    color:#ffff;
    border-radius: 20px;
    padding: 30px;
}

#localDetails {
  height: auto;
  width: auto;
  /* border:2px rgb(0, 81, 255) solid; */
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

#localDetails p {
  font-size: 12px;
}

#locDetails {
  height: auto;
  width: auto;
  border-radius: 15px;
  background-color: rgb(120, 120, 121);
  margin: 10px 50px 10px 50px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

#needle i{
  height:20px;
  width:30px;
  margin-top:0px;
  /* Initial value for rotate is needed for transition to work */
  transform:rotate(90);  

  /* CSS transition creates smooth effect */
  transition:all 1.5s;
}

#mainLogo {
  width: 50px;
  height: 60px;
}

#navLogo {
  width: 40px;
  height: 40px;
}

.navbar-text {
  color: #ffff;
}


.btn-custom{
    border: 2px solid #ffff;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
}

.btn-custom:hover{
    background-color: #ffff;
    color:rgb(43, 42, 42) !important;
}

.btn-jumbo {
  width: auto;
  height: auto;
}



.api-container {
  width: auto;
  margin: 50px;
  text-align: center;
}



.color-container {
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 200px;
  /* border: 2px red solid; */
  border-radius: 10px;
  margin: 50px;
  padding: 20px;
  text-align: center;
  top: 25%;
  left: 25%;
  right: 25%;
}

#color-box {
  display: inline-block;
  /* border: 2px blue solid; */
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px;
  color: #ffff;
}

.btn-api {
  border: 2px rgb(0, 81, 255) solid;
  color: rgb(0, 81, 255);
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color: #ffff;
  border-radius: 10px;
  text-decoration: none;
  width: 166px;
}

.btn-api:hover{
  border: 2px rgb(159, 184, 238) solid;
  background-color: rgb(100, 145, 241);
  color: white;
}

hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}